# Capstone project Week 3 assignment

##  Part 1

### Import required libraries

In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge lxml --yes 
!pip install et_xmlfile

#!conda install -c conda-forge folium=0.11.0 --yes #installed 19jun20
import folium # plotting library

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Requirement already satisfied: et_xmlfile in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.0.1)

#### Read the table from the Wikipedia page directly by pandas

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikitable = pd.read_html(url)

wikitable

[    Postal Code           Borough  \
 0           M1A      Not assigned
 1           M2A      Not assigned
 2           M3A        North York
 3           M4A        North York
 4           M5A  Downtown Toronto
 ..          ...               ...
 175         M5Z      Not assigned
 176         M6Z      Not assigned
 177         M7Z      Not assigned
 178         M8Z         Etobicoke
 179         M9Z      Not assigned

                                           Neighborhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                            Regent Park, Harbourfront
 ..                                                 ...
 175                                       Not assigned
 176                                       Not assigned
 177                                       Not assigned
 178  Mimico NW, The Queensway West, South of Bloor,...
 179                                       Not assigned

 [180 rows x 3 columns],
                                                   0   \
 0                                                NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NL
 3                                                  A

                                                   1   \
 0                              Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...
 2                                                 NS
 3                                                  B

                                                   2    3    4    5    6    7   \
 0                                                NaN  NaN  NaN  NaN  NaN  NaN
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  NaN  NaN  NaN  NaN  NaN
 2                                                 PE   NB   QC   QC   QC   ON
 3                                                  C    E    G    H    J    K

     8    9    10   11   12   13   14   15     16   17
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    NaN  NaN
 2   ON   ON   ON   ON   MB   SK   AB   BC  NU/NT   YT
 3    L    M    N    P    R    S    T    V      X    Y  ,
    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
 0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
 1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

#### It can be seen from the html output that the postal code table is in the [0] position.
#### A pandas data frame is created from position [0] of wikitable.

In [3]:
df_postalCode=pd.DataFrame(wikitable[0])

df_postalCode

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### Remove the boroughs that are "Not Assigned" and check if there will be any "NaN" neighborhood remaining.

In [5]:
notAssignedB = df_postalCode['Borough'] == 'Not assigned'
notAssignedN = df_postalCode['Neighborhood'] == 'Not assigned'
notAssignedIndexB= df_postalCode[notAssignedB].index
notAssignedIndexN= df_postalCode[notAssignedN].index
if all(notAssignedIndexB == notAssignedIndexN):
    df_postalCode.drop(notAssignedIndexB, inplace=True)
    print("None unassigned neighborhoods remain")

None unassigned neighborhoods remain

#### There are no neighborhoods to be renamed after removing the "Not Assigned" boroughs.

In [6]:
print(df_postalCode.shape)
df_postalCode

(103, 3)

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### The resulting data frame has 103 postal codes (rows).
#### Checking if any Postal Code is repeated; if yes, the corresponding neighborhoods will need to be merged.

In [7]:
df_postalCode.nunique()

Postal Code     103
Borough          10
Neighborhood     99
dtype: int64

#### There are 103 different postal codes, which means there are no repeats.
#### There are ten different boroughs in the 103 postal codes. It was known in advance that boroughs are repeated.
#### There are four repeated neighborhoods. Which ones?

In [8]:
dups=df_postalCode['Neighborhood'].duplicated()
df_postalCode[dups].sort_values(by=df_postalCode.columns.to_list())

   Postal Code     Borough Neighborhood
20         M3C  North York    Don Mills
74         M3L  North York    Downsview
83         M3M  North York    Downsview
92         M3N  North York    Downsview

In [9]:
dups2 = df_postalCode['Neighborhood'] == 'Don Mills'
dups3 = df_postalCode['Neighborhood'] == 'Downsview'
print(df_postalCode[dups2].sort_values(by=df_postalCode.columns.to_list()),'\n')
print(df_postalCode[dups3].sort_values(by=df_postalCode.columns.to_list()))

   Postal Code     Borough Neighborhood
11         M3B  North York    Don Mills
20         M3C  North York    Don Mills

   Postal Code     Borough Neighborhood
65         M3K  North York    Downsview
74         M3L  North York    Downsview
83         M3M  North York    Downsview
92         M3N  North York    Downsview

#### According to the repeats lists, Don Mills appears twice in the data frame and Downsview appears four times.
#### However, there is indeed a different postal code for every repeated neighborhood.
#### This means that there is nothing more to clean up in this data set and there are 103 different postal codes in Toronto with an assigned borough and neighborhood.

In [10]:
print(df_postalCode.shape)

df_postalCode

(103, 3)

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."